<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Fafi</title>
	<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<body>
	<h1>Fafi</h1>

	{% if query %}
	<p>You searched for <em>{{query}}</em>.
		{% if results %}
			{{ results | length }} results:
		{% endif %}
	</p>
	{% endif %}


	<form action="/">
		<input type="text" name="query" value="{{query}}">
		<input type="submit" name="search" value="Search">
	</form>

	
	{% if results %}
		<ol>
		{% for i in results %}
			<li>
				<h2><a href="{{i[1]}}">{{i[0]}}</a></h2>
				<p><em>{{i[2]}}</em>
			</li>
		{% endfor %}
		</ul>
	{% endif %}

</body>
</html>